<script setup>

import { ref } from 'vue'
import { onMounted } from 'vue'
import { Modal } from 'flowbite'
import BlogForm from './BlogForm.vue'
import axios from 'axios'
import { useNotification } from "@kyvg/vue3-notification";
const { notify } = useNotification()
import { TailwindPagination } from 'laravel-vue-pagination';

const modal = ref()
const blogs = ref()
const blog = ref()

const deleteModal = ref(null)

const getBlogList = async (page = 1) => {
    const response = await axios.get('/api/blogs', {
        headers: {
            'Content-Type': 'application/json',
        },
        params: {
            limit: 5,
            page: page
        }
    })
    blogs.value = response.data
}

const onSuccessSavedBlog = async () => {
    getBlogList()
}

onMounted(() => {

    getBlogList()
    // set the modal menu element
    const $targetEl = document.getElementById('boat-modal');

    // options with default values
    const options = {
        placement: 'center',
        backdrop: 'dynamic',
        backdropClasses:
            'bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-40',
        closable: true,
        onHide: () => {
            blog.value = null
        },
        onShow: () => {
            console.log('modal is shown');
        },
        onToggle: () => {
            console.log('modal has been toggled');
        },
    };

    // instance options object
    const instanceOptions = {
        id: 'boat-modal',
        override: true
    };

    /*
     * $targetEl: required
     * options: optional
     */
    modal.value = new Modal($targetEl, options, instanceOptions);

});


const addBlogForm = () => {

    modal.value.show()
}

const editBlogForm = (item) => {
    blog.value = item;
    modal.value.show()
}

const closeBlogModal = () => {
    modal.value.hide()
}

const deleteBlog = (item) => {
    blog.value = item
    deleteModal.value.show()
}

const acceptDelete = async () => {
    // delete api
    try {
        const response = await axios.delete('/api/blogs/' + blog.value.id)
        deleteModal.value.hide()
        blog.value = null
        notify({
            title: 'Notification!',
            text: response.data.message,
            type: 'success'
        })
        getBlogList()
    } catch (error) {
        console.log(error)
    }
}
</script>

<template>
    <div class="flex flex-col">
        <div class="overflow-x-auto">
            <div class="bg-white rounded-b-2xl px-5 py-3 flex justify-between items-center ">
                <div class="w-full relative overflow-x-auto">
                    <div class="flex justify-between mb-4">
                        <h5 class=" text-gray-700 mb-4 text-2xl">List Blog</h5>
                        <div>
                            <button type="button" class="btn btn-sm btn-primary" @click="addBlogForm"> Add Blog </button>
                        </div>
                    </div>
                    
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-2 py-3"> No </th>
                                <th scope="col" class="px-6 py-3"> Title</th>
                                <th scope="col" class="px-6 py-3"> Views </th>
                                <th scope="col" class="px-6 py-3"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" v-if="blogs"
                                v-for="item, key in blogs.data" :key="item.id">
                                <td class="px-2 py-4"> {{ key + 1 }}</td>
                                
                                <td class="px-6 py-4"> {{ item.title }}</td>
                                <td class="px-6 py-4"> {{ item.views }}</td>
                                <td class="px-6 py-4 flex justify-end">
                                    <div class="inline-flex rounded-md shadow-sm" role="group">
                                        <button type="button" @click="editBlogForm(item)"
                                            class="px-3 py-2 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                                            Edit </button>
                                        <button type="button" @click="deleteBlog(item)"
                                            class="px-3 py-2 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                                            Delete </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="flex mt-4 justify-center items-center">
                        <TailwindPagination v-if="blogs" :data="blogs" @pagination-change-page="getBlogList" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Main modal -->
        <div id="boat-modal" tabindex="-1" aria-hidden="true"
            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white" v-if="blog"> Edit Blog </h3>
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white" v-else> Add Blog </h3>
                        <button type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            @click="closeBlogModal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <BlogForm @close="closeBlogModal" @onSuccess="onSuccessSavedBlog" v-if="!blog"></BlogForm>
                    <BlogForm @close="closeBlogModal" @onSuccess="onSuccessSavedBlog" :blog="blog" v-if="blog"></BlogForm>
                </div>
            </div>
        </div>
        <DeleteConfirmation ref="deleteModal" @acceptDelete="acceptDelete"></DeleteConfirmation>
    </div>
</template>
