<script setup>
import { ref, defineEmits, defineProps, onMounted } from 'vue'
import { useNotification } from "@kyvg/vue3-notification";
import { reset } from '@formkit/core'
const { notify } = useNotification()

const title = ref();

const emit = defineEmits(['close', 'onSuccess'])

const props = defineProps({
    blog: Object
})

title.value = props.blog?.title

const submitBlog = async (fields) => {
    try {

        let body = new FormData()

        Object.keys(fields).forEach(key => {
            body.append(key, fields[key])
        })
        
        let response = {};

        if (props.blog) {
            response = await axios.put('/api/blogs/' + props.blog.id, fields)
        } else {
            response = await axios.post('/api/blogs', body, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
        }

        //reset form
        reset('submitBlog')

        //show success message
        notify({
            title: 'Notification!',
            text: response.data.message,
            type: 'success'
        })

        //close modal
        emit('close')
        emit('onSuccess')
    } catch (error) {
        console.log(error)
        Object.keys(error.response.data.errors).forEach(key => {
            notify({
                title: 'Warning!',
                text: error.response.data.errors[key][0],
                type: 'warn'
            })
        });


    }

}


const closeBlogModal = () => {
    emit('close')
}

onMounted(() => {
    console.log('mounted')
    console.log(props.blog)
})
</script>
<template>
    <FormKit type="form" id="submitBlog" @submit="submitBlog" :actions="false">
        <div class="p-4 md:p-5 space-y-4">
            <div class="grid gap-6 mb-6 ">
                <FormKit type="text" name="title" id="title" :value="blog?.title" validation="required|not:Admin"
                    label="Name" label-class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    input-class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    messages-class="mt-1 text-xs text-red-900" />
                <FormKit type="text" name="slug" id="slug" :value="blog?.slug" validation="required|not:Admin"
                    label="Slug" label-class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    input-class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    messages-class="mt-1 text-xs text-red-900" />
                <FormKit type="textarea" name="content" :value="blog?.content" id="content" validation="required|not:Admin"
                    label="Content" label-class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    input-class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    messages-class="mt-1 text-xs text-red-900" />
            </div>
        </div>
        <!-- Modal footer -->
        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
            <button @click="closeBlogModal" type="button"
                class="w-full  ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
            <button type="submit"
                class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save
                Blog</button>
        </div>
    </FormKit>
</template>
