<script setup>

</script>

<template>
    <div class="flex flex-col">
        <div class="overflow-x-auto">
            <div class="bg-white rounded-b-2xl px-5 py-3 flex justify-between items-center ">
                <div class="w-full relative overflow-x-auto">
                    Dashboard                    
                </div>
            </div>
        </div>
    </div>
</template>
